.root {
  font-family: 'Inter', Arial, sans-serif;
  padding: 45px 0 60px;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  text-size-adjust: none;
}

@media (max-width: 426px) {
  .root {
    padding: 28px 0 36px;
  }
}

body { 
  background-color: #000;
}