.header__status-bar {
  display: flex;
  gap: 24px;
  margin-top: 6px;
}

@media (max-width: 480px) {
  .header__status-bar {
    flex-direction: column;
    gap: 18px;
    margin-bottom: 40px;
    text-align: right;
  }
}